<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0ef58248-2a13-4c72-ad61-1ec7beeb1ef3/resourceGroups/BossMandadosGroup/providers/Microsoft.Web/sites/AppBossMandados</ResourceId>
    <ResourceGroup>BossMandadosGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appbossmandados.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appbossmandados.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AppBossMandados</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AppBossMandados</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChatEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.ChatEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ChatMensajeEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.ChatMensajeEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientesEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.ClientesEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ComisionesEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.ComisionesEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DireccionesEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.DireccionesEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MandadosEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.MandadosEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MandadosEstadosEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.MandadosEstadosEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MandadosRutasEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.MandadosRutasEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MenuEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.MenuEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PermisosEntities" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.PermisosEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PromocionesEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.PromocionesEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PromocionesClientesEntities" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.PromocionesClientesEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RepartidoresEntities" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.RepartidoresEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RepartidoresCalificacionesEntities" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.RepartidoresCalificacionesEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RolUsuarioEntities" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.RolUsuarioEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ServiciosEntities" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.ServiciosEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UsuariosEntities" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Boss_Mandados.Models.UsuariosEntities, Boss_Mandados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="bossmandadosEntities" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:bossmandadosapp.database.windows.net,1433;Initial Catalog=bossmandados;Persist Security Info=False;User ID=bossadmin;Password=Bossmandados2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\bossmandadosEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Rol_usuario.csdl|res://*/Models.Rol_usuario.ssdl|res://*/Models.Rol_usuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bossmandadosEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChatEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChatMensajeEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ComisionesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DireccionesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MandadosEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MandadosEstadosEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MandadosRutasEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MenuEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PermisosEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PromocionesClientesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PromocionesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RepartidoresCalificacionesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RepartidoresEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RolUsuarioEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ServiciosEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UsuariosEntities-Web.config Connection String" />
  </ItemGroup>
</Project>