<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Azure Storage: bossmandados -->
    <add key="bossmandados_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bossmandados;AccountKey=O52b92inEsCh5lWQtcjvQ4cqdfOkPqnvHec5yk2Xs3Cq/tuOWJ8W3sADIZnfxCGqTltwIdOnpdqEJVoKMIQ+PA==" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="bossmandadosEntities" connectionString="metadata=res://*/Models.Rol_usuario.csdl|res://*/Models.Rol_usuario.ssdl|res://*/Models.Rol_usuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RolUsuarioEntities" connectionString="metadata=res://*/Models.RolUsuario.csdl|res://*/Models.RolUsuario.ssdl|res://*/Models.RolUsuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UsuariosEntities" connectionString="metadata=res://*/Models.Usuarios.csdl|res://*/Models.Usuarios.ssdl|res://*/Models.Usuarios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MenuEntities" connectionString="metadata=res://*/Models.Menu.csdl|res://*/Models.Menu.ssdl|res://*/Models.Menu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PermisosEntities" connectionString="metadata=res://*/Models.Permisos.csdl|res://*/Models.Permisos.ssdl|res://*/Models.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RepartidoresCalificacionesEntities" connectionString="metadata=res://*/Models.RepartidoresCalificaciones.csdl|res://*/Models.RepartidoresCalificaciones.ssdl|res://*/Models.RepartidoresCalificaciones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RepartidoresEntities" connectionString="metadata=res://*/Models.Repartidores.csdl|res://*/Models.Repartidores.ssdl|res://*/Models.Repartidores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PromocionesClientesEntities" connectionString="metadata=res://*/Models.PromocionesClientes.csdl|res://*/Models.PromocionesClientes.ssdl|res://*/Models.PromocionesClientes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PromocionesEntities" connectionString="metadata=res://*/Models.Promociones.csdl|res://*/Models.Promociones.ssdl|res://*/Models.Promociones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MandadosRutasEntities" connectionString="metadata=res://*/Models.MandadosRutas.csdl|res://*/Models.MandadosRutas.ssdl|res://*/Models.MandadosRutas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MandadosEstadosEntities" connectionString="metadata=res://*/Models.MandadosEstados.csdl|res://*/Models.MandadosEstados.ssdl|res://*/Models.MandadosEstados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MandadosEntities" connectionString="metadata=res://*/Models.Mandados.csdl|res://*/Models.Mandados.ssdl|res://*/Models.Mandados.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ComisionesEntities" connectionString="metadata=res://*/Models.Comisiones.csdl|res://*/Models.Comisiones.ssdl|res://*/Models.Comisiones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DireccionesEntities" connectionString="metadata=res://*/Models.Direcciones.csdl|res://*/Models.Direcciones.ssdl|res://*/Models.Direcciones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientesEntities" connectionString="metadata=res://*/Models.Clientes.csdl|res://*/Models.Clientes.ssdl|res://*/Models.Clientes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChatEntities" connectionString="metadata=res://*/Models.Chat.csdl|res://*/Models.Chat.ssdl|res://*/Models.Chat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ServiciosEntities" connectionString="metadata=res://*/Models.Servicios.csdl|res://*/Models.Servicios.ssdl|res://*/Models.Servicios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChatMensajeEntities" connectionString="metadata=res://*/Models.ChatMensaje.csdl|res://*/Models.ChatMensaje.ssdl|res://*/Models.ChatMensaje.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:bossmandadosapp.database.windows.net,1433;initial catalog=bossmandados;persist security info=False;user id=bossadmin;password=Bossmandados2017;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>