@model Boss_Mandados.Models.manboss_clientes
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Direcciones del Cliente: <strong>@Model.nombre</strong></h2>
    </div>
</div>