@model Boss_Mandados.Models.manboss_promociones
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Nueva Promoción</h2>
    </div>
</div>
<div class="wrapper-content">
    <div class="ibox-content">
        @using (Html.BeginForm("Create", "Promociones", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10"><input type="text" name="nombre" class="form-control" required></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Descrición</label>
                <div class="col-sm-10"><textarea id="descripcion" name="descripcion" required></textarea></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Descuento (Del 0 al 1)</label>
                <div class="col-sm-10"><input type="number" min="0.00" max="1.00" step=".01" name="descuento" class="form-control" required></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Cupón</label>
                <div class="col-sm-10"><input type="text" name="cupon" class="form-control" required></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha de Inicio</label>
                <div class="col-sm-10"><input class="form-control fecha_inicio" type="text" name="fecha_inicio" required></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha de Fin</label>
                <div class="col-sm-10"><input class="form-control fecha_fin" type="text" name="fecha_fin" required></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">Crear</button>
                </div>
            </div>
        }
    </div>
</div>
<p class="btn btn-w-m btn-primary">@Html.ActionLink("Volver", "Index")</p>
<script>
$(document).ready(function(){
    $('#descripcion').summernote({
    	height: 200
    });
    $('.fecha_inicio').datepicker({
        format: 'yyyy-mm-dd',
    });
    $('.fecha_fin').datepicker({
        format: 'yyyy-mm-dd',
    });
});
</script>